# .NET
bin/
obj/
publish/
*.dll
*.exe
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Docker
docker-compose.override.yaml

# Secrets
*.env
appsettings.*.local.json
