apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: airline-observability
  labels:
    app: otel-collector
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    processors:
      batch:
        timeout: 5s
        send_batch_size: 1024

    exporters:
      otlphttp/logs:
        endpoint: http://loki.airline-observability.svc.cluster.local:3100/otlp
        tls:
          insecure: true

      otlp/traces:
        endpoint: tempo.airline-observability.svc.cluster.local:4317
        tls:
          insecure: true

      prometheus:
        endpoint: 0.0.0.0:8889

      debug:
        verbosity: basic

    service:
      pipelines:
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlphttp/logs, debug]
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/traces, debug]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus, debug]
